body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
}

.book-library {
    
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #ffffff;
    padding: 20px;
}

.book {
    width: 250px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
}

.book img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}

.book-details {
    padding: 10px;
}

.book-details h2 {
    margin-top: 0;
}

.author {
    color: #777777;
    margin-bottom: 5px;
}

.price-block {
    background-color: #2ecc71;
    color: #ffffff;
    text-align: center;
    padding: 5px ;
    border-radius: 0 0 5px 5px;
}
